@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");	
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
   text-align: right;
   width: 85%;
   background-color: #fff;
   border: 1px solid lightgrey;
   margin: 0px auto 25px auto;
}

th{
  font-weight: unset;
  padding-right: 2px;
}

td {
  font-weight: unset;
  border: 1px solid lightgrey;
  padding-right: 2px;
}

.column100 {
  width: 130px;
  /* padding-left: 25px; */
}

.column100.column1 {
  /* width: 265px; */
  /* padding-left: 42px; */
}

.row100.head th {
   padding-top: 5px;
   padding-bottom: 5px;
}

.row100 td {
  /* padding-top: 18px; */
  /* padding-bottom: 14px; */
}

/*==================================================================
[ Ver2 ]*/
.table100.ver2 td {
  font-family: Calibri;
  font-size: 12px;
  color: black;
  line-height: 1.4;
}

.table100.ver2 th {
  font-family: Calibri;
   font-size: 11px;
   color: black;
   line-height: 1.4;
   text-transform: uppercase;
   background-color: #E0E0E0;
   font-weight: bold;
   border: 1px solid grey;
}

.table100.ver2 .row100:hover td {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-ver2 {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-head-ver2 {
  background-color: #484848 !important;
}

.table100.ver2 .row100 td:hover {
  background-color: #57b846;
  color: #fff;
}

/*==================================================================
[ Ver2 ]*/
.table100.ver2 tbody tr:nth-child(even) {
  /* background-color: #eaf8e6; */
}

.table100.ver2 td {
  font-family: Calibri;
  font-size: 12px;
  color: black;
  line-height: 1.4;
}

.table100.ver2 th {
  font-family: Calibri;
   font-size: 11px;
   color: black;
   line-height: 1.4;
   text-transform: uppercase;
   background-color: #E0E0E0;
   font-weight: bold;
   border: 1px solid grey;
}

.table100.ver2 .row100:hover td {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-ver2 {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-head-ver2 {
  background-color: #484848 !important;
}

.table100.ver2 .row100 td:hover {
  background-color: #57b846;
  color: #fff;
}

.ylwbg {
    background: #fbf5cd;
}

.grybg {
	background: #e7e3d5;
	color: #666667 !important;
	font-weight: bold;
}

.nobg {
    background: white;
}

.red{
	color : red !important;
}

.green{
	color : green !important;
}
